@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Livraria Online</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Livros</h2>
        <p>
           Veja todos os livros Cadastrados
        </p>
        <p><a class="btn btn-default" href="~/livros">Livros</a></p>
    </div>
    <div class="col-md-4">
        <h2>Categorize os Livros</h2>
        <p>Lista de Categorias</p>
        <p><a class="btn btn-default" href="~/Categorias">Categorias</a></p>
    </div>
    
</div>